 img{
 	width:100%;
 }
 
.panel-heading,.panel-body{
	text-align: center;
}

.panel-heading{
	height: 50px;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:60px;
  	background: #2E2E2E;
    text-align: center;
    }

.text {
  color: #424242;
  font-size: 30px;
  text-align: center;
  margin: auto;
  padding:0;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; 
    padding:0 10px; 
    border-bottom:none;
}

.space{
	margin:50px;
}